<header style="height: 10%;">
  <app-header [active]=0></app-header>
</header>
<!--<div style="height: 80%; padding-right: 150px; padding-left: 150px; margin-bottom: 5px">
  
  <div style="display: flex; margin-top: 10px; margin-bottom: 10px; padding: 5px">
    <select style="padding :5px; width: 100%" [ngModel]="lesson" (ngModelChange)="lesson ? lesson = $event : null">
      <option [ngValue]="lesson" *ngFor="let lesson of lessons">
        {{lesson.title}}
        </option>
    </select>
  </div>
  
  <div style="display: flex; justify-content: space-between; margin-bottom: 10px; padding: 5px">
    <div style="width: 9%">Titulo:</div>
    <input type="search" style="width: 90%" [ngModel]="section?.title" (ngModelChange)="section ? section.title = $event : null">
  </div>
  

  <div style="height: 80%; display: flex; justify-content: space-around; flex-direction: column; padding: 10px">
    <div style="display: flex; flex-direction: column; justify-content: space-around; margin-bottom: 10px; padding: 5px; height: 75%">
    <div>Contenido:</div>
    <textarea type="search" style="width: 100%; height: inherit" [ngModel]="section?.content" (ngModelChange)="section ? section.content = $event : null"></textarea>
  </div>
  <div style="display: flex; flex-direction: column; justify-content: space-around; margin-bottom: 10px; padding: 5px; height: 25%">
    <div>Palabras relacionadas:</div>
    <textarea type="search" style="width: 100%; height: inherit"[ngModel]="section?.keywords" (ngModelChange)="section ? section.keywords = $event : null"></textarea>
  </div>
    
  <div style="display: flex; margin-top: 10px; padding: 5px; flex-direction: column">
    <div style="width: 100%">
      <button style="width: 100%; padding: 5px" *ngIf="mode === 0" (click)="goToConfirmation()" [disabled]="!isReadyToSend()">Añadir</button>
      <button *ngIf="mode === 1;" style="width: 100%; padding: 5px" (click)="goToConfirmation()" [disabled]="!isReadyToSend()">Editar</button>
    </div>
  </div>
    
  </div>
</div>-->

<form style="height: 80%; padding-right: 150px; padding-left: 150px;">
  <div class="form-group">
    <select name="lesson" style="padding :5px; width: 100%" class="form-control" [ngModel]="lesson" (ngModelChange)="lesson ? lesson = $event : null">
      <option [ngValue]="lesson" *ngFor="let lesson of lessons">
        {{lesson.title}}
        </option>
    </select>
  </div>
  <!--<div style="display: flex; justify-content: space-between; margin-bottom: 10px; padding: 5px">-->
  <div class="form-group">
    <!--<div style="width: 9%">Titulo:</div>
    <input type="search" style="width: 90%" [ngModel]="section?.title" (ngModelChange)="section ? section.title = $event : null">-->
    <label for="title">Titulo: </label>
    <input type="text" class="form-control" name="title" [ngModel]="section?.title" (ngModelChange)="section ? section.title = $event : null">
  </div>

  <div class="form-group">
    <!--<div style="width: 9%">Titulo:</div>
    <input type="search" style="width: 90%" [ngModel]="section?.title" (ngModelChange)="section ? section.title = $event : null">-->
    <label for="content">Contenido: </label>
    <div class="row" style="max-width:100%; margin-right: 0px; margin-left: 0px">
      <input #imageInput class="form-control col-9" style="max-height:100%;" type="file" id="filePicker" (change)="handleFileSelect($event)" accept="image/x-png,image/gif,image/jpeg">
      <button [disabled]="!section?.contentImage" (click)="removeImage()" class="btn btn-danger col-3">Quitar</button>
    </div>
    <img style="max-width:100%; max-height:100%;" *ngIf="section?.contentImage" [src]="'data:image/jpg;base64,'+section?.contentImage" />
    <textarea type="search" class="form-control" rows="7" style="margin-top: 20px; width: 100%; resize: none" name="content" [ngModel]="section?.contentText" (ngModelChange)="section ? section.contentText = $event : null"></textarea>
  </div>

  <div class="form-group">
    <!--<div style="width: 9%">Titulo:</div>
    <input type="search" style="width: 90%" [ngModel]="section?.title" (ngModelChange)="section ? section.title = $event : null">-->
    <label for="related">Palabras relacionadas: </label>
    <textarea type="search" class="form-control" rows="2" name="related" style="width: 100%; resize: none" [ngModel]="words" (ngModelChange)="changeKeywords($event)"></textarea>
  </div>

  <button style="width: 100%; padding: 5px" *ngIf="mode === 0" (click)="goToConfirmation()" class="btn btn-success" [disabled]="!isReadyToSend()">Añadir</button>
  <button *ngIf="mode === 1;" style="width: 100%; padding: 5px;" class="btn btn-warning" (click)="goToConfirmation()" [disabled]="!isReadyToSend()">Editar</button>

</form>

<!--<footer style="padding: 5px; height: 5%">
  <app-footer></app-footer>
</footer>-->