<div style="height: 100%; padding: 5px; display: flex; justify-content: space-around; align-items: stretch">
  <div style="width: 100%; display: flex; justify-content: center;" (click)="goToTheory()">
    <div style="display: flex; flex-direction: column; justify-content: center">
      Teoría
    </div>
  </div>
  <div style="width: 100%; display: flex; justify-content: center" *ngIf="!session?.isAlumn">
    <div style="display: flex; flex-direction: column; justify-content: center">
      Dudas
    </div>
  </div>
  <div style="width: 100%; display: flex; justify-content: center">
    <div style="display: flex; flex-direction: column; justify-content: center">
      Estadisticas
    </div>
  </div>
  <div style="width: 100%; display: flex; justify-content: center" (click)="doSome()">
    <div style="display: flex; flex-direction: column; justify-content: center">
      Test
    </div>
  </div>
  <div style="width: 100%;display: flex; justify-content: center;" (click)="logout()">
    <div style="display: flex; flex-direction: column; justify-content: center">
      Salir
    </div>
  </div>
</div>