.active-div {
  z-index: 2;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.margin-number{
  margin-left: 2px
}

.nav-style{
  background-color: #e3f2fd; padding-left: 155px;
  padding-right: 155px;
}