<div class="mini-padding marginTop10 marginBottom10 displayFlex">
  <select class="form-control cursor-pointer max-width mini-padding" [ngModel]="lesson" (ngModelChange)=onLessonSelectorChange($event)>
    <option [ngValue]="lesson" *ngFor="let lesson of lessons">
      {{lesson.title}}
    </option>
  </select>
</div>

<div class="heightOfContent displayFlex flexColumn">
  <div class="mini-padding max-height marginBottom10 displayFlex justifyBetween">
    <div class="standar-border width22">
      <div class="mini-padding" *ngFor="let section of sections" (click)="selectSection(section)" [ngClass]="{'active-div': imSelected(section)}">
        {{section.title}}
      </div>
    </div>
    <div class="width77 displayFlex flexColumn">
      <div class="mini-padding max-height standar-border">
        <img class="set-maximun-width-100 set-maximun-height-100" *ngIf="section?.contentImage" [src]="'data:image/png;base64,'+section?.contentImage" />
        <div class="preWrapWhiteSpace">{{section?.contentText}}</div>
        <hr>
        <div *ngFor='let keyword of section?.keywords' (click)="onKeywordClick.emit(keyword?.word)" >
          <div class="btn-link">
            {{keyword.word}}
          </div>
        </div>
      </div>
      <div *ngIf="isAlumn" class="paddingTop5">
        <button class="btn btn-warning max-width mini-padding" [disabled]="!section" (click)="goToQuestions()">Ver dudas</button>
      </div>
      <div *ngIf="!isAlumn" class="paddingTop5 displayFlex flexRow">
        <div class="max-width padding-5-left-right">
          <button class="btn btn-warning max-width mini-padding" [disabled]="!section" (click)="goToQuestions()">Ver dudas</button>
        </div>
        <div class="max-width padding-5-left-right">
            <button class="btn btn-info max-width mini-padding" (click)="goToTheoryEditorEdit()" [disabled]="!section">Editar</button>
        </div>
        <div class="max-width padding-5-left-right">
            <button class="btn btn-danger max-width mini-padding" [disabled]="!section" (click)="goToConfirmation()">Borrar</button>
        </div>
      </div>
    </div>
  </div>
</div>