<div>
  <div>
    <div>
      <div>
        Concepto: 
      </div>
      <input [(ngModel)]="concept">
    </div>
    <div>
      <button (click)="searchByConcept()">Buscar test por concepto</button>
    </div>
  </div>
  <hr>
  <div>
    <div>
      <div>
        Tema: 
      </div>
      <select style="padding :5px; width: 100%" [ngModel]="lesson" (ngModelChange)=onLessonSelectorChange($event)>
        <option [ngValue]="lesson" *ngFor="let lesson of lessons">
          {{lesson.title}}
        </option>
      </select>
    </div>
    <div>
      <button (click)="searchByLesson()">Buscar test por temas</button>
    </div>
  </div>
  <hr>
  <div>
    <button (click)="searchGeneral()">Buscar test general</button>
  </div>
</div>
