<header style="height: 10%;">
  <app-header></app-header>
</header>
<div class="container-fluid" style="padding-left: 150px; padding-right: 150px">
  <div class="row justify-content-around">
    <input class="form-control col-8" type="search" style="width: 100%;" [(ngModel)]="username">
    <button class="btn btn-success col-3" [disabled]="!username" (click)="getStatistics()">Buscar datos</button>
  </div>
  <div class="row justify-content-around" style="margin-top: 20px">
    <div class="card col-3">
      <div class="card-block">
        Conceptos visitados <span>{{records?.length}}</span>
      </div>
    </div>
    <div class="card col-3">
      <div class="card-block">
        Dudas planteadas <span>{{questions?.length}}</span>
      </div>
    </div>
    <div class="card col-3">
      <div class="card-block">
        Examenes <span>{{exams?.length}}</span>
      </div>
    </div>
  </div>
  <!--<div class="row" style="margin-top: 20px">
    <div class="card col-12">
      <div class="card-block">
        Conceptos visitados
      </div>
    </div>
  </div>-->
</div>
