<div class="main-div">
  <form class="div2 max-width">
    <img class="text-center" src="assets/images/escudo.png" width="200px">
    <div class="form-group max-width">
      <label for="user">Usuario: </label>
      <input type="text" class="form-control" name="user" [(ngModel)]="username">
      <small class="form-text text-muted">Solo hace falta ser un alumno o profesor de la escuela</small>
    </div>
    <div class="form-group max-width">
      <label for="pass">Password</label>
      <input type="password" class="form-control" name="pass" [(ngModel)]="password">
    </div>
    <button type="button" class="btn btn-primary max-width" (click)="login()">Entrar</button>
  </form>
</div>