<header class="header-style">
  <app-header [active]=0></app-header>
</header>

<div class="card normal-padding">
  <div class="card-block">
    <h4 class="card-title"><strong>ACCIÓN: </strong>{{getMode()}}</h4>
  </div>
  <div class="card-block">
    <h5 class="card-text"><strong>TITULO DEL TEMA: </strong>{{data?.lesson?.title}}</h5>
    <h6 class="card-text"><strong>TITULO DE LA SECCIÓN: </strong>{{data?.section?.title}}</h6>
  </div>
  <div class="card-block" style="display: flex; flex-direction: column">
    <span class="card-text">
      <strong>CONTENIDO: </strong>
      <img class="set-maximun-width-100 set-maximun-height-100" *ngIf="data?.section?.contentImage" [src]="'data:image/jpg;base64,'+data?.section?.contentImage" />
      <p style="white-space: pre-wrap;">{{data?.section?.contentText}}</p>
    </span>
    <span class="card-text"><strong>PALABRAS CLAVE: </strong></span>
    <span style="word-wrap: break-word;">{{getKeywordsString()}}</span>
  </div>
  <div class="card-block">
    <button class="btn btn-success" (click)="sendData()">Confirmar</button>
    <button class="btn btn-danger" (click)="goBack()">Cancelar</button>
  </div>
</div>