<header class="header-style">
  <app-header [active]=3></app-header>
</header>

<div class="normal-padding">
  <div class="form-group">
    <select class="form-control" name="lesson" [ngModel]="lesson" (ngModelChange)="lesson ? lesson = $event : null">
      <option [ngValue]="lesson" *ngFor="let lesson of lessons">
        {{lesson.title}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="wording">Enunciado</label>
    <div class="row set-maximun-width-100" style="margin-right: 0px; margin-left: 0px">
      <input #imageInput class="form-control col-9 set-maximun-height-100" type="file" id="filePicker" (change)="handleFileSelect($event)" accept="image/x-png,image/gif,image/jpeg">
      <button [disabled]="!question?.wordingImage" (click)="removeImage()" class="btn btn-danger col-3">Quitar</button>
    </div>
    <img class="set-maximun-width-100 set-maximun-height-100" *ngIf="question?.wordingImage" [src]="'data:image/jpg;base64,'+question?.wordingImage" />
    <textarea class="form-control" name="wording" rows="3" [ngModel]="question?.wordingText" (ngModelChange)="question ? question.wordingText = $event : null"></textarea>
  </div>

  <div class="form-group">
    <label for="options">Opciones: </label>
    <div class="card" *ngFor="let option of question?.testOptions; let i = index">
      <div class="card-block row">
        <span class="col-1 text-center">{{i+1}}</span>
        <input class="form-control col-7" [ngModel]="option?.answer" (ngModelChange)="option ? option.answer = $event : null">
        <div class="col-2 text-center" (click)="changeBool(option)">
          <i class="fa fa-2x" aria-hidden="true" [ngClass]="{true: 'fa-check text-success', false: 'fa-times text-danger'}[option.isCorrect]"></i>
        </div>
        <button class="col-2 btn btn-danger" style="width: 15%" (click)="deleteOption(option)">Borrar</button>
      </div>
    </div>
    <button class="btn btn-success max-width" style="margin-top: 15px" (click)="addOption()" [disabled]="!allOptionsFilled()" id="addOptionButton">Añadir opcion</button>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="!isReadyToSend()">
    Todos los campos deben ser rellenados. No puede haber opciones vacías o repetidas. Es necesario que haya al menos una verdadera y una falsa.
  </div>
  <button class="btn btn-success max-width" (click)="goToConfirmation()" [disabled]="!isReadyToSend()">AÑADIR</button>
</div>

