<header class="header-style">
  <app-header [active]=1></app-header>
</header>
<div class="card normal-padding">
  <div class="card-block">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{question?.title}}</h4>
        <img class="set-maximun-width-100 set-maximun-height-100" *ngIf="question?.contentImage" [src]="'data:image/jpg;base64,'+question?.contentImage" />
        <h6 class="card-text grey-italic">{{question?.contentText}}</h6>
      </div>
    </div>
  </div>
  <div class="card-block">
    <img class="set-maximun-width-100 set-maximun-height-100" *ngIf="question?.responseImage" [src]="'data:image/jpg;base64,'+question?.responseImage" />
    <p class="card-text" *ngIf="question?.responseText">{{question?.responseText}}</p>
  </div>
  <div class="card-block">
    <button (click)="send()" class="btn btn-success">Confirmar</button>
    <button (click)="goBack()" class="btn btn-danger">Cancelar</button>
  </div>
</div>