<header style="height: 10%;">
  <app-header></app-header>
</header>
<div style="height: 80%; padding-right: 150px; padding-left: 150px; margin-bottom: 5px">

  <div class="card" style="padding: 10px">
    <div class="card-block">
      <h4 class="card-title">{{question?.title}}</h4>
      <p *ngIf="question?.contentText" class="card-text">{{question?.contentText}}</p>
      <img style="max-width:100%; max-height:100%;" *ngIf="question?.contentImage" [src]="'data:image/png;base64,'+question?.contentImage" />
    </div>
  </div>
  <!--
  <div style="display: flex; justify-content: space-between; margin-bottom: 10px; padding: 5px">
    <div style="width: 9%">Titulo: {{question?.title}}</div>
  </div>

  <div style="height: 80%; display: flex; justify-content: space-around; flex-direction: column; padding: 10px">
    <div style="display: flex; flex-direction: column; justify-content: space-around; margin-bottom: 10px; padding: 5px; height: 75%">
    <div>Contenido:</div>
    <textarea readonly type="search" style="width: 100%; height: inherit" [ngModel]="question?.content"></textarea>
  </div>
  -->
  <div style="height: 80%; display: flex; justify-content: space-around; flex-direction: column; padding: 10px">
    <div style="display: flex; flex-direction: column; justify-content: space-around; margin-bottom: 10px; padding: 5px; height: 75%">
    <div>Respuesta:</div>
    <input class="form-control" style="max-width:100%; max-height:100%;" type="file" id="filePicker" (change)="handleFileSelect($event)" accept="image/x-png,image/gif,image/jpeg">
    <img style="max-width:100%; max-height:100%;" *ngIf="question?.responseImage" [src]="'data:image/jpg;base64,'+question.responseImage" />
    <textarea type="search" style="width: 100%; height: inherit" [ngModel]="question?.responseText" (ngModelChange)="question ? question.responseText = $event : null"></textarea>
  </div>
    
  <div style="display: flex; padding: 5px; flex-direction: column">
    <div style="width: 100%">
      <button class="btn btn-success" style="width: 100%; padding: 5px" (click)="goToQuestionConfirmation()" [disabled]="!isReadyToSend()">Enviar</button>
    </div>
  </div>
    
  </div>
</div>

<!--<footer style="padding: 5px; height: 5%">
  <app-footer></app-footer>
</footer>-->