<header class="header-style">
  <app-header [active]=3></app-header>
</header>
<div class="normal-padding">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><strong>ACCIÓN: </strong>{{getMode()}}</h4>
    </div>
    <div class="card-block">
      <h5 *ngIf="question?.wordingText" class="card-text"><span class="grey-italic">{{question.wordingText}}</span></h5>
      <img class="set-maximun-width-100 set-maximun-height-100" *ngIf="question?.wordingImage" [src]="'data:image/jpg;base64,'+question?.wordingImage" />
    </div>
    <div class="card-block">
      <div *ngFor="let option of question?.testOptions">
        <div class="card">
          <div class="card-block row justify-content-around">
            <div class="col-9">
              {{option.answer}}
            </div>
            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{true: 'fa-check text-success', false: 'fa-times text-danger'}[option.isCorrect]"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="card-block">
      <button class="btn btn-success" (click)="sendData()">Confirmar</button>
      <button class="btn btn-danger" (click)="goBack()">Cancelar</button>
    </div>
  </div>
</div>