<header class="header-style">
  <app-header [active]=0></app-header>
</header>
<div class="normal-padding heightOfContent marginBottom5">
  <div class="mini-padding height7-6 displayFlex justifyBetween">
    <p class="noPadding width20">Buscar por concepto: </p>
    <input class="form-control" type="search" [(ngModel)]="searchText">
  </div>

  <div class="height90">
    <app-index-theory [initSectionId]="initSectionId" [isAlumn] = "session?.isAlumn" *ngIf="!searchActive()" (onKeywordClick)="onKeywordClick($event)" (onLessonChange)="onLessonChange($event)" (onSectionClick)="onSectionClick($event)" (onError)="onError($event)"></app-index-theory>
    <app-search-theory [isAlumn] = "session?.isAlumn" [searchQuery] = "searchText" (onKeywordClick)="onKeywordClick($event)" (onSectionClick)="onSectionClick($event)" (onError)="onError($event)" *ngIf="searchActive()"></app-search-theory>
    <div class="displayFlex flexColumn weirdPadding" *ngIf="!session?.isAlumn">
      <div class="max-width">
        <button class="btn btn-success max-width mini-padding" (click)="goToTheoryEditorAdd()">Añadir</button>
      </div>
    </div>
  </div>
</div>