<header style="height: 10%;">
  <app-header [unrespondedQuestionsLength]= questionsData?.length></app-header>
</header>



<div style="display: flex; justify-content: center; flex-direction: column; padding-right: 150px; padding-left: 150px;">


<ngb-alert [dismissible]="false" *ngIf="!thereAreUnrespondedQuestions()" type="info">
  <strong>
    ¡No hay dudas por resolver!
  </strong>
</ngb-alert>

<div *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.msg }} <button (click)="confirmation(alert)" class="btn btn-success">Confirmar</button> </ngb-alert>
  
</div>

<!--<div *ngIf="!thereAreUnrespondedQuestions()" class="alert alert-info" role="alert">
  <strong>¡No hay dudas por resolver!</strong>
</div>-->

<!--<div class="alert alert-danger dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>¡Reportada!</strong> La duda ha sido reportada.
</div>

<div class="alert alert-warning dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>¡Repetido!</strong> Has marcado la duda como repetida 
</div>-->

<div>


  <div style="width: 100%;">
    <ngb-accordion *ngIf="thereAreUnrespondedQuestions()">
      <ngb-panel *ngFor="let questionData of questionsData; let idx = index" id={{questionData.question.title}}>
        <ng-template ngbPanelTitle>
          <div style="width: 100%; height: 100%" class="acordionSection">
            {{questionData.question.title}}
          </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <span>Duda sobre: <a style="color: #0275d8; cursor: pointer" (click)="goToTheoryRelated(questionData.associatedSection)">{{questionData.associatedSection.title}}</a></span>
            <div style="border: 2px solid #d9d9db; border-radius: 5px; overflow: auto; padding: 5px; margin-bottom: 5px">
              {{questionData.question.content}}
            </div>
            <button class="btn btn-danger" *ngIf="!session.isAlumn" (click)="reportQuestion(questionData.question, idx)">
              Reportar
            </button>
            <button class="btn btn-warning" *ngIf="!session.isAlumn" (click)="ignoreQuestion(questionData.question)">
              Ignorar por repetido
            </button>
            <button class="btn btn-success" *ngIf="!session.isAlumn" (click)="respondQuestion(questionData.question)">
              Responder
            </button>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>