<header style="height: 10%; padding-right: 15px; padding-left: 15px">
  <app-header></app-header>
</header>
<div style="height: 80%; padding-right: 15px; padding-left: 15px; margin-bottom: 5px">
  <div style="display: flex; justify-content: space-between; margin-bottom: 10px; padding: 5px">
    <input type="search" style="width: 90%" [(ngModel)]="searchText">
    <button style="width: 9%" (click)="doSome()">Buscar</button>
  </div>

  <div style="height: 95%;">
    <app-index-theory *ngIf="!searchActive()" (onKeywordClick)="onKeywordClick($event)" (onLessonChange)="onLessonChange($event)" (onSectionClick)="onSectionClick($event)"></app-index-theory>
    <app-search-theory [searchQuery] = "searchText" (onKeywordClick)="onKeywordClick($event)" (onSectionClick)="onSectionClick($event)" *ngIf="searchActive()"></app-search-theory>
    
    <div style="display: flex; margin-top: 10px; padding: 5px; flex-direction: column" *ngIf="session?.isAlumn">
      <button style="width: 100%; padding: 5px" [disabled]="!section">Tengo dudas</button>
    </div>

    <div style="display: flex; margin-top: 10px; padding: 5px; flex-direction: column" *ngIf="!session?.isAlumn">
      <div style="width: 100%; display: flex; justify-content: space-around; margin-bottom: 10px">
        <div style="width: 100%; margin-right: 10px">
           <button style="width: 100%; padding: 5px" [disabled]="!section">Ver dudas</button>
        </div>
        <div style="width: 100%; margin-right: 5px; margin-left: 5px">
           <button style="width: 100%; padding: 5px" (click)="goToTheoryEditorEdit()" [disabled]="!section">Editar</button>
        </div>
        <div style="width: 100%; margin-left: 5px">
           <button style="width: 100%; padding: 5px" [disabled]="!section" (click)="goToConfirmation()">Borrar</button>
        </div>
      </div>
      <div style="width: 100%">
        <button style="width: 100%; padding: 5px" (click)="goToTheoryEditorAdd()">Añadir</button>
      </div>
    </div>
    
  </div>
</div>

<footer style="padding: 5px; height: 5%">
  <app-footer></app-footer>
</footer>