<input type="search" style="width: 100%" [(ngModel)]="searchText">

<ngb-accordion>
  <ngb-panel *ngFor="let question of getQuestions()" id={{question.title}}>
    <ng-template ngbPanelTitle>
     <div style="width: 100%; height: 100%" class="acordionSection">
       {{question.title}}
     </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div>
        {{question.content}}
      </div>
      <div>{{question.response}}</div>
      <button (click)="deleteQuestion(question)">Borrar</button>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div (click)="openForm()" *ngIf="!newQuestion">Añadir nueva</div>

<div *ngIf="newQuestion">
  <div>
    <div>
      Título:
    </div>
    <div>
      <input type="search" style="width: 100%" [ngModel]="newQuestion?.title" (ngModelChange)="newQuestion ? newQuestion.title = $event : null">
    </div>
  </div>
  <div>
    <div>
      Contenido:
    </div>
    <div>
      <textarea style="width: 100%" [ngModel]="newQuestion?.content" (ngModelChange)="newQuestion ? newQuestion.content = $event : null"></textarea>
    </div>
  </div>
  <div>
    <div>
      Respuesta:
    </div>
    <div>
      <textarea style="width: 100%" [ngModel]="newQuestion?.response" (ngModelChange)="newQuestion ? newQuestion.response = $event : null"></textarea>
    </div>
  </div>
  <button (click)="sendForm()">Enviar</button>
  <div (click)="closeForm()">Cerrar</div>
</div>