/* You can add global styles to this file, and also import other style files */

html, body{
    margin-top: 0px;
    height: 100%;
    margin-bottom: 0px;
}

.cursor-pointer{
  cursor: pointer
}

.max-width{
    width: 100%
}

.max-height{
    height: 100%
}

.set-maximun-width-100{
    max-width:100%
}

.set-maximun-height-100{
    max-height:100%
}

.normal-padding{
    padding-left: 150px !important;
    padding-right: 150px !important;
}

.mini-padding{
    padding: 5px
}

.header-style{
    height: 10%
}

.word-wrapped{
    word-wrap: break-word;
}

.standar-border{
    border: 2px solid #d9d9db; border-radius: 5px; overflow: auto
}

.grey-italic{
    font-style: italic; color: grey
}

.heightOfContent{
    height:80%
}

.marginTop10{
    margin-top: 10px
}

.noMarginRight{
    margin-right: 0px
}

.noMarginLeft{
    margin-left: 0px !important
}

.preWrapWhiteSpace{
    white-space: pre-wrap;
}

.paddingTop5{
    padding-top: 5px
}

.marginBottom15{
  margin-bottom:15px
}

.generalPadding10{
    padding: 10px
}

.width20{
    width: 20%
}

.marginTop15{
    margin-top: 15px
}

.marginBottom5{
    margin-bottom: 5px
}

.marginTop20{
    margin-top: 20
}

.width15{
    width: 15%
}

.width22{
    width: 22%
}

.width77{
    width: 77%
}

.marginBottom10{
    margin-bottom: 10px;
}

.displayFlex{
    display: flex;
}

.flexColumn{
    flex-direction: column
}

.justifyBetween{
    justify-content: space-between
}

.positionFixed{
    position: fixed
}

.height90{
  height: 90%
}
