<header class="header-style">
  <app-header [unrespondedQuestionsLength]= questionsData?.length [active]=1></app-header>
</header>



<div class="normal-padding" style="display: flex; justify-content: center; flex-direction: column;">


<ngb-alert [dismissible]="false" *ngIf="!thereAreUnrespondedQuestions()" type="info">
  <strong>
    ¡No hay dudas por resolver!
  </strong>
</ngb-alert>

<div *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.msg }} <button (click)="confirmation(alert)" class="btn btn-success">Confirmar</button> </ngb-alert>
</div>

<div>


  <div class="max-width">
    <ngb-accordion *ngIf="thereAreUnrespondedQuestions()">
      <ngb-panel *ngFor="let questionData of questionsData; let idx = index" id={{questionData.question.title}}>
        <ng-template ngbPanelTitle>
          <div (click)="doSome(questionData.associatedSection)" style="height: 100%" class="max-width acordionSection">
            {{questionData.question.title}}
          </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <span>Duda sobre: <a style="color: #0275d8; cursor: pointer" (click)="goToTheoryRelated(questionData.associatedSection)">{{questionData.associatedSection.title}}</a></span>
            <img class="set-maximun-width-100 set-maximun-height-100" *ngIf="questionData?.question?.contentImage" [src]="'data:image/jpg;base64,'+questionData?.question?.contentImage" />
            <div class="mini-padding" style="border: 2px solid #d9d9db; border-radius: 5px; overflow: auto; margin-bottom: 5px">
              {{questionData.question.contentText}}
            </div>
            <button class="btn btn-danger" *ngIf="!session.isAlumn" (click)="reportQuestion(questionData.question.title, questionData.associatedSection.id, idx)">
              Reportar
            </button>
            <button class="btn btn-warning" *ngIf="!session.isAlumn" (click)="ignoreQuestion(questionData.question.title, questionData.associatedSection.id, idx)">
              Ignorar por repetido
            </button>
            <button class="btn btn-success" *ngIf="!session.isAlumn" (click)="respondQuestion(questionData.question)">
              Responder
            </button>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>